<table class="table table-bordered table-hover" style="width: 100%" id='<%= tid %>'>
	<thead>
		<tr><% for(var i=0; i< columns.length; i++) { %><th><%= columns[i] %></th><% } %></tr>
	</thead>
	<tbody>
	</tbody>
</table>